
<div class="row">
	<div class="col-md-6 row form-styled">
		<form action="{{contextPath + '/register'}}" method="post">
			<div class="form-group">
				<label for="email">Email </label> <input type="email" class="form-control required" name="email" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="password">Password</label> <input type="password" class="form-control required" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="matchpassword">Conferma password</label> <input type="password" class="form-control required" name="matchpassword" placeholder="Confirm Password">
			</div>
			<div class="form-group">
				<label for="name">Nome </label> <input type="text" class="form-control required" name="name" placeholder="Enter Name">
			</div>
			<div class="form-group">
				<label for="surname">Cognome </label> <input type="text" class="form-control required" name="surname" placeholder="Enter Surname">
			</div>


			<button type="submit" class="btn btn-danger center-block">Registrati</button>
		</form>
	</div>
</div>

