<div class="modal-dialog"  ng-controller="updateSubjectController">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" >{{subject}}</h4>
		</div>
		<div class="modal-body">
			<ul class="list-group ">
				<li class="list-group-item ng-binding ng-scope" ng-repeat="lesson in subjectLessons | orderBy : 'typeOfEducation.id'" >
					<span class="{{lesson.typeOfEducation.cssBig}}"></span>
					<button type="button" class="btn btn-default btn-xs pull-right" ng-click="deleteLesson(lesson)">
						<i class="fa fa-trash-o"></i>
					</button>
					
				</li>
				
			</ul>
			<div ng-if="filteredTypes.length != 0" class="row mg-top-20">
				<div class=" col-md-10 form-group">
				
					<label >
						{{lang.add}} {{lang.typeOfEducation}}
					</label>
				<select  name="newlesson"class="form-control">
					<option value="{{type.id}}" ng-repeat="type in filteredTypes">{{type.name}}</option>
				</select>
				</div>
				<div class="col-md-10 form-group">
												
  					<button type="button" class="btn btn-success btn-sm" ng-click="addLesson()">{{lang.add}}</button>
					
				</div>
			
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{lang.close}}</button>
		</div>
	</div>
</div>
